@use "variables";


@mixin button{
    background-color: variables.$orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: variables.$font_1;
}

@mixin style{
    font-family: variables.$font_1;
    h2,div{color: variables.$melon;}


    

}






