.images {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

#brian_content {
    background-color: #D4EBF8;
    border-radius: 1rem;
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


#brian_content p {
    font-size: 2rem;
    width:750px;
    height: auto;
}

.center{padding-bottom: 40px;padding-top: 40px;}

.orange{color: #E38E49;font-weight: bold;}
h1 {
    color: #0A3981;
    font-size: 3.5rem;
}

body {
    background-color: #E38E49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media only screen and (max-width: 768px){
    .images {
        flex-direction: column;
        align-items: center;
    }

    .center{flex-direction: column;}

    h1 {
    
    font-size: 2.5rem;
    padding-left: 35px;
    
}

    #brian_content p {
    font-size: 1.25rem;
    width: 85%;
    height:auto;
    padding-left: 35px;
    
}

    img{width: 200px;height: auto;}


}