@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 100;
    }

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: .1em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#reco_title{
    font-size: 1.75em;
    color:rgb(235, 235, 235)
}
#reco_header{
    background-color:hsla(240, 75%, 39%, 0) ;
    font-size: 1.15em;
    
}



#reco_header nav a{
    text-decoration: none;
    color:rgb(235, 235, 235)
}

#reco_header nav a:hover{
    color:#a60ecc
}

main{
    flex:1;
    position: relative;

}

body::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image: url("home_background.gif");
    background-size: cover;
    background-position: center;
    color:antiquewhite;
    filter: blur(10px);
    z-index: -1;
}



#home_screen_section{
    

    animation: fadeIn 3.25s ease-in-out forwards;
}

.home_screen_text{
  color:antiquewhite;
  text-shadow: 1px 1px 2px black;


}



#home_screen_section h1{
    margin-top: 3rem;
    font-size:5em;
}

#home_screen_section p{
    margin-top: 1.25rem;
    font-size:1.25em;
}


#reco_footer{
  background-color:hsla(240, 75%, 39%, 0) ;
  padding-bottom: 1rem;
  margin-bottom: 1.15rem;
  color:rgb(235, 235, 235)
}


@media only screen and (max-width: 768px) {
    #home_screen_section p{
    font-size:1em;
    }

    #home_screen_section h1{
   
    font-size:3em;
}

}